.separe {
    margin-bottom: 20px;
}

.select-btn{
   border-radius: 10px!important;
   height: 50px!important;
   padding-top: 8px!important;
   padding-left: 20px!important;
   padding-right: 20px!important;
}

.color-selected{
    padding: 4px;
    border: 4px solid #91c8f9;
    border-radius: 50%;
    
}
.color{
   cursor: pointer;
}

.ant-upload-list-text-container {
display: none;
}